@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Efectivo Giros</h1>
    <a class="btn btn-primary" asp-controller="FCT" asp-action="Create"> Crear un giro </a>
    <a class="btn btn-primary" asp-controller="FCT"> Consultar un giro </a>
    <a class="btn btn-primary" asp-controller="FCT" asp-action="Search"> Consultar un giro por remitente</a>
    <a class="btn btn-primary" asp-controller="FCT" asp-action="SearchDest"> Consultar un giro por destinatario</a>
</div>
