@model IEnumerable<Prueba.Models.FCT>

@{
    ViewData["Title"] = "Buscar por Remitente";
}

<h1>Giros</h1>

<p>
    <a asp-action="Create">Crear un giro</a>
</p>

<form asp-action="SearchFunc" class="form-group">
    <div>
        <label for="numero">Remitente:</label>
        <input type="text" id="remitenteId" name="remitenteId" class="form-control" value="@Model" />
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

